<div class="side-tags">
	<h2>归档</h2>
	<hr />

	<ul>
		{% for archive in Model.Archives %}
		<li>
			<a href="{{ archive.Link }}">{{ archive.Year }}年{{ archive.Month }}月</a>
		</li>
		{% endfor %}
	</ul>
</div>
