		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>{{ Model.Meta.Title }}</title>
		<meta name="keywords" content="{{ Model.Meta.Keywords }}" />
		<meta name="description" content="{{ Model.Meta.Description }}" />


		<link rel="stylesheet" href="/themes/default/css/style.css" />
		<link rel="shortcut icon" href="/themes/default/images/favicon.ico" type="image/x-icon" />
		