@page
@model Yes.Blog.Areas.Admin.Pages.ErrorModel
@{
}
<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>信息提示</h3>
    <div id="douMsg">
        <h2>Error</h2>
        <dl>
            <dt>如果您不做出选择，将在 3 秒后跳转到上一个链接地址。</dt>
            <dd><a href="">返回上一页</a></dd>
        </dl>
    </div>
</div>