
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{{ Model.Name }}</title>
		<meta name="keywords" content="NetCore开源精选" />
		<meta name="description" content="NetCore开源精选" />
		<link href="/themes/default/css/bootstrap.min.css" rel="stylesheet">
		<link href="/themes/default/css/main.css" rel="stylesheet">
		<link rel="shortcut icon" href="/themes/default/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/themes/default/css/github-markdown.light.css" />
	</head>
	<body>



		<header class=" border-bottom">
			<div class="container-fluid">
			  <div class="d-flex flex-wrap navbar navbar-expand-lg navbar-light">
				<a href="/" class="navbar-brand" title="{{ Model.Blog.Name }}">
				 {{ Model.Blog.Name }} 
				</a>
				

				{% partial '_Nav' %}


				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get" action="/search">
				  <input type="search" class="form-control form-control-dark" placeholder="搜索..." aria-label="Search" name="keyword">
				</form>

				<div class="text-end">
         
				</div>
			  </div>
			</div>
		  </header>


		  <section class="mt-5 pb-5">
			<div class="container-fluid">

					{% renderbody %}

			</div>
			</section>

		<div class="footer">
			<div class="container-fluid container-widescreen">
				<div class="row">
					<div class="col-xs-12 friend-links">

					</div>
					<div class="clearfix mgt-15px text-center">
						<div class="col-xs-12 mgt-15px">

						</div>
						<div class="col-xs-12 hidden-xs mgt-15px">
							<small class="text-muted">
								<span>&copy; {{ "now" | format_date: "yyyy" }} <a href="https://yecent.com" TARGET="_blank" title="YesCent.Com">YesCent.Com</a> Powered by .NET 8.0</span>
								<span>&nbsp;·&nbsp;</span>
								<span> 
									<a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">湘ICP备14002632号-2</a>
								</span>
							</small>
						</div>
						<div class="col-xs-12 mgt-15px  text-center">

							<div class="help-block">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>



