@page
@model Yes.Blog.Areas.Admin.Pages.Theme.ImportModel
@{
}


<template x-data x-if="$store.errorMessage||1">
    <div class="alert alert-danger floating-div" x-show="$store.errorMessage" x-transition x-html="$store.errorMessage"></div>
</template>

<div class="header">
    <div class="stats">
    </div>


    <h1 class="page-title">导入模板</h1>
    <ul class="breadcrumb">
        <li>
            <a asp-page="/Index">管理中心</a>
        </li>
        <li>
            <a asp-page="/Theme/Index">模板列表</a>
        </li>
        <li class="active">导入模板</li>

    </ul>
</div>

<div class="main-content" x-data="data">

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-lg-6" >

                    <div class="form-group">
                        <label>选择要导入的模板文件</label>
                        <div id="img-container">
                            <template x-if="uploadFile">
                                <div class="img-thumb img-item">
                                    <img class="thumb-icon" src="/admin/images/zip.png" />
                                    <a href="javascript:;" class="img-remove" x-on:click="uploadFile='';tempfile=null">x</a>
                                </div>
                            </template>
                            <template x-if="!uploadFile">
                                <div class="img-up-add  img-item">
                                    <span class="img-add-icon" x-on:click="addFile()">+</span>
                                </div>
                            </template>
                            <input type="hidden" x-model="uploadFile">
                            <input type="file" name="files" id="img-file-input" x-model="tempfile" x-on:change="handleThemeUpload($event.target.files[0])">
                        </div>
                    </div>



                </div>





            </div>

            <div class="btn-toolbar list-toolbar">
                <button class="btn btn-primary" x-on:click="save()"><i class="fa fa-save"></i> 提交</button>
            </div>
        </div>
    </div>


    <partial name="_Footer" />
</div>

@section Scripts {
    <script src="~/admin/js/qiniu.min.js" asp-append-version="true"></script>
    <script src="~/admin/js/theme/import.js" asp-append-version="true"></script>
}



