@using Yes.Domain.Core.Helpers
<footer>
    <hr>


    <p class="pull-right">

    </p>
    <p>
        &copy;   @(DateTime.Now.Year) <a href="https://hyrule.yescent.com" target="_blank">Hyrule  v@(BlogHelper.GetVersion())</a>  Powered by @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)
    </p>
</footer>